In [1]:
import pandas as pd
import sqlite3
import datetime as dt

In [2]:
df = pd.read_csv('ads.csv')

In [3]:
df.head()

      TV  radio  newspaper    sales
0  230.1   37.8       69.2  22100.0
1   44.5   39.3       45.1  10400.0
2   17.2   45.9       69.3   9300.0
3  151.5   41.3       58.5  18500.0
4  180.8   10.8       58.4  12900.0

In [4]:
conn = sqlite3.connect('adsDB.sqlite')
cursor = conn.cursor()

In [5]:
df["date"] = dt.datetime.today()

In [6]:
df.to_sql("ads_train", conn, if_exists="append", index=False)

In [7]:
tables = pd.read_sql("""SELECT 
    name
FROM 
    sqlite_schema
WHERE 
    type ='table'""", conn)
tables

        name
0  ads_train

In [8]:
pd.read_sql("""SELECT 
    *
FROM 
    ads_train limit 5""", conn)

      TV  radio  newspaper    sales                        date
0  230.1   37.8       69.2  22100.0  2023-02-18 10:53:55.936299
1   44.5   39.3       45.1  10400.0  2023-02-18 10:53:55.936299
2   17.2   45.9       69.3   9300.0  2023-02-18 10:53:55.936299
3  151.5   41.3       58.5  18500.0  2023-02-18 10:53:55.936299
4  180.8   10.8       58.4  12900.0  2023-02-18 10:53:55.936299

In [9]:
df.to_sql("predictions", conn, if_exists="append", index=False)